@import "tailwindcss";

@theme inline {
  --color-my-lime: #CDF140;
  --color-my-white: #f2f2f3;
  --color-my-ash: #929398;
  --color-my-highlight: #473d3d;
  --color-my-deep-black: #101010;
  --color-my-black: #1c1a1a;
  --font-rethink: "rethink", sans-serif;
  --font-manrope: "manrope", sans-serif; 
}

@font-face {
  font-family: "rethink";
  src: url("/fonts/rethink/RethinkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rethink";
  src: url("/fonts/rethink/RethinkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rethink";
  src: url("/fonts/rethink/RethinkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/manrope/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/manrope/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-rethink);
  color: var(--color-my-ash);
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.box-pattern {
  background-color: var(--color-my-deep-black);
  background-image: 
    linear-gradient(to right, #3d373759, transparent 1px),
    linear-gradient(to bottom, #211f1f38 1px, transparent 1px);
  background-size: 20px 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}